<div class="container">
    <h1>Structural Directives</h1>
    <p>*ngIf</p>
    <div class="alert alert-danger" *ngIf="!isLoggedIn">
        <p>Not Logged In.. pls login</p>
    </div>

    <div class="alert alert-success" *ngIf="isLoggedIn">
        <p>Wow Logged In</p>
    </div>

    <p>*ngFor</p>
    <ul>
        <li *ngFor="let skill of skillsList">{{ skill }}</li>
    </ul>

    <p>Todo: Try ngSwitch</p>

    <h2>Pipes</h2>
    <p>transform info from one format to another</p>

    <p>{{today}}</p>
    <p>{{today | date | uppercase  }}</p>
    <p>{{today | date: 'dd-MMMM-yyyy hh:mm:ss a' }}</p>

    <hr>
    

</div>