<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="si-tab" data-toggle="tab" href="#si" role="tab" aria-controls="si"
            aria-selected="true">String Interpolation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pb-tab" data-toggle="tab" href="#pb" role="tab" aria-controls="pb"
            aria-selected="false">Property Binding</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="eb-tab" data-toggle="tab" href="#eb" role="tab" aria-controls="eb"
            aria-selected="false">Event Binding</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="twb-tab" data-toggle="tab" href="#twb" role="tab" aria-controls="twb"
            aria-selected="false">Two Way Binding</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="cpb-tab" data-toggle="tab" href="#cpb" role="tab" aria-controls="cpb"
            aria-selected="false">Cross Component Communication</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="si" role="tabpanel" aria-labelledby="si-tab">
        String Interpolation
        <p>{{ appName }}</p>
        <p>{{age}}</p>
        <p>{{isLoggedIn}}</p>
        <p>{{ skillsList[2] }}</p>
        <p>String Interpolation: {{ developerName }}</p>
        String Interpolation: <input type="text" value="{{developerName}}">
    </div>
    <div class="tab-pane fade" id="pb" role="tabpanel" aria-labelledby="pb-tab">

        <p>Property Binding</p>
        <input type="text" [value]="developerName">

        <div class="redText">Will be in red color</div>

        <!-- Class binding -->
        <div [ngClass]="{ 'redText': !isLoggedIn, 'greenText': isLoggedIn }">Will it be in red?</div>
    </div>
    <div class="tab-pane fade" id="eb" role="tabpanel" aria-labelledby="eb-tab">
        Event Binding

        <button type="button" onclick="onBtnClick(event)">Click me -- will not work --- check js console</button>
        <br><br>
        <button type="button" (click)="onBtnClick($event)">Click me</button>
    </div>
    <div class="tab-pane fade" id="twb" role="tabpanel" aria-labelledby="twb-tab">
        Two Way Binding

        <p>{{courseName}}</p>

        <input type="text" [value]="courseName">

        <br>
        <!-- two way binding -->
        <input type="text" [(ngModel)]="courseName">

    </div>

    <div class="tab-pane fade" id="cpb" role="tabpanel" aria-labelledby="cpb-tab">
        <h2>Parent to Child Comp Communication</h2>
        <p>Using Custom Property Binding</p>
        <app-cpb></app-cpb>
        <app-cpb [age]="30"></app-cpb> <!-- parent is sending data to child -->
        <app-cpb [age]="40"></app-cpb> <!-- parent is sending data to child -->

        <h2>Child Parent to Comp Communication</h2>
        <p>1. Using Custom Property Binding -- child can selectively send data to parent</p>
        <p>2. Using @ViewChild() -- parent can access child's all data</p>
        <p>3. Using @ViewChildren() -- parent can access many child components data</p>

        <p>Let's access child's data using @ViewChild()</p>
        <!-- refer home.comp.ts -->
    </div>
</div>